.navbar {
	box-shadow: 2px 2px 4px;
  }

  .modal {
	background-color: rgba(226, 243, 255, 0.5);
  color: rgba(4, 57, 94, 1);
  }


  .modal-body input::placeholder {
	color: white;
  }

  .modal-body {
     background-color: rgba(4, 57, 94, 1);
  }

  .modal-header {
    background-color: rgba(4, 57, 94, 1);
    border-bottom: none !important;
  }
  
  .modal-title {
    color: white !important;
  }

.btn-link {
    color: rgba(4, 57, 94, 1) !important;
    text-decoration: none !important;
    font-weight: 600 !important;
}

.btn-close {
  background-color: white !important;
  opacity: 1 !important;
}

.btn-submit { 
  align-self: center;
  background-color: white !important;
  color: rgba(4, 57, 94, 1) !important;
  border: 2px solid white !important;
}

.form-control {
  background-color: rgba(4, 57, 94, 1) !important;
  border: 2px solid white !important;
}