.navbar {
  position: fixed;
  box-shadow: 0px 5px 10px;
}

@media (max-width: 990px){
.navbar-collapse {
  position: fixed;
  width: fit-content;
  top: 71px; 
  right: 0;
  padding-left: 70px;
  text-align: right;
  background-color: #f8f9fa;
  padding-bottom: 10px;
}}
  .modal {
	background-color: rgba(226, 243, 255, 0.5);
  color: rgba(4, 57, 94, 1);
  margin-top: 71px !important;
  }


  .modal-body input::placeholder {
	color: white;
  }

  .modal-body input {
    color:white
  }

  .modal-body {
     background-color: rgba(4, 57, 94, 1);
     border-bottom-left-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
     padding-left: 50px;
     padding-right: 50px;
  }

  .modal-header {
    background-color: rgba(4, 57, 94, 1);
    border-bottom: none !important;
  }
  
  .modal-title {
    color: white !important;
  }

.btn-link {
    color: rgba(4, 57, 94, 1) !important;
    text-decoration: none !important;
    font-weight: 600 !important;
}

.btn-close {
  background-color: white !important;
  opacity: 1 !important;
}

.btn-submit { 
  align-self: center !important;
  background-color: white !important;
  color: rgba(4, 57, 94, 1) !important;
  border: 2px solid white !important;
  font-weight: 600 !important;
}

.form-control {
  background-color: rgba(4, 57, 94, 1) !important;
  border: 2px solid white !important;
}

.poll-modal-form-control {
  border-top: 5px solid rgba(255, 31, 102, 1)  !important;
  border-radius: 0% !important;
  background-color: rgba(226, 243, 255, 0.5) !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.add-button {
  background-color: rgba(226, 243, 255, 0.5) !important;
  border:0px !important;
}

.close-button {
  padding: 1rem 0.8rem !important; 
  border-top: 5px solid rgba(255, 31, 102, 1)  !important;
  border-radius: 0% !important;
  background-color: rgba(226, 243, 255, 0.5) !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  color:rgba(4, 57, 94, 1) !important;
  font-size: 1rem !important;
}