.navbar {
  position: fixed;
  box-shadow: 0px 5px 10px;
  z-index: 999;
}

@media (max-width: 990px){
.navbar-collapse {
  position: fixed;
  width: fit-content;
  top: 71px; 
  right: 0;
  padding-left: 70px;
  text-align: right;
  background-color: #f8f9fa;
  z-index: 1000;
  padding-bottom: 10px;
}}


    .navbar-toggle {
      background-color: aqua;
    }

  .modal {
	background-color: rgba(226, 243, 255, 0.5);
  color: rgba(4, 57, 94, 1);
  }


  .modal-body input::placeholder {
	color: white;
  }

  .modal-body {
     background-color: rgba(4, 57, 94, 1);
     border-bottom-left-radius: 0.5rem;
     border-bottom-right-radius: 0.5rem;
  }

  .modal-header {
    background-color: rgba(4, 57, 94, 1);
    border-bottom: none !important;
  }
  
  .modal-title {
    color: white !important;
  }

.btn-link {
    color: rgba(4, 57, 94, 1) !important;
    text-decoration: none !important;
    font-weight: 600 !important;
}

.btn-close {
  background-color: white !important;
  opacity: 1 !important;
}

.btn-submit { 
  align-self: center;
  background-color: white !important;
  color: rgba(4, 57, 94, 1) !important;
  border: 2px solid white !important;
}

.form-control {
  background-color: rgba(4, 57, 94, 1) !important;
  border: 2px solid white !important;
}